{% extends "base_generic.html" %}

{% block content %}
<h1>Arriendo Vestidos <em>Borangora</em> </h1>

  <p>Sitio de Administración de <em>Borangora</em>, para el arriendo de vestidos.</p>

<h2>Datos Actualizados :</h2>

  <p>La Tienda tiene hoy lo siguiente:</p>
  <ul>
    <li><strong>Vestidos:</strong> {{ vestidos }}</li>
    <li><strong>Clientes:</strong> {{ clientes }}</li>
    <li><strong>Proveedores:</strong> {{ proveedores }}</li>
    <li></li>

    <li><strong>Vestidos disponibles:</strong> {{ vestidos_disponibles }}</li>
    <li><strong>Vestidos arrendados:</strong> {{ vestidos_arrendados }}</li>
    <li><strong>Vestidos en mantencion:</strong> {{ vestidos_mantencion }}</li>
    <li><strong>Vestidos reservados:</strong> {{ vestidos_reservados }}</li>

  


  </ul>

{% endblock %}