{% extends "base_generic.html" %}

{% block content %}
<h1>Arriendo Vestidos Borangora</h1>

  <p>Welcome to <em>LocalLibrary</em>, a very basic Django website developed as a tutorial example on the Mozilla Developer Network.</p>

<h2>Dynamic content</h2>

  <p>The library has the following record counts:</p>
  <ul>
    <li><strong>vestidos:</strong> {{ num_vestidos }}</li>
    <li><strong>Solicitudes:</strong> {{ num_solicitudes }}</li>
    <li><strong>Solicitudes disponibles:</strong> {{ num_solicitudes_disponibles }}</li>
    <li><strong>proveedores:</strong> {{ num_proveedores }}</li>
  </ul>

{% endblock %}