{% extends "base_generic.html" %}

{% block content %}
    <h2>Arrendados</h2>

    {% if arriendo_list %}
    <ul>

      {% for arriendo in arriendo_list %}
      <li>
        <br>
        <a href="{{ arriendo.get_absolute_url }}"> {% for cliente in arriendo.cliente.all %} {{ cliente }}{% if not forloop.last %}, {% endif %}{% endfor %}</a> <strong>Fecha a devolver  :</strong> {{  arriendo.fecha_a_devolver }}
        
      </li>
      {% endfor %}

    </ul>
    {% else %}
      <p>No hay vestidos arrendados.</p>
    {% endif %} 
{% endblock %}