{% extends "base_generic.html" %}

{% block content %}
    <h2>Reservados</h2>
    <br>
    {% if reserva_list %}
    <ul>


      {% for reserva in reserva_list %}
      <li>
        <a href="{{ reserva.get_absolute_url }}">  
        <strong> Sku : </strong> {{ reserva.sku }}</a>  &nbsp &nbsp &nbsp
        <strong> Fecha reservada : </strong> {{reserva.fecha_reservada}} &nbsp &nbsp &nbsp
        <a href="{% url 'reserva_update' reserva.pk %}">Actualizar reserva cliente</a> 
        <br>
        <br>
      </li>
      {% endfor %}

    </ul>
    {% else %}
      <p>No hay vestidos reservados.</p>
    {% endif %} 
{% endblock %}